.wrapper-kitchen{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1296px;
  height: 983px;
  margin-bottom: 150px;
  &__heading{
    width: 623px;
    height: 128px;
    padding-left: 189px;
    margin-bottom: 80px;
  }
  &__title{
    width: 244px;
    margin: 0;
    color: #FFFFFF;
    font-size: 40px;
    font-family: 'Gotham Pro Bold';
    line-height: 150%;
  }
  &__text{
    margin: 0;
    text-align: center;
    padding-top: 7px;
    font-size: 14px;
    font-family: 'Gotham Pro Bold';
  }
  &__leed{
    margin-bottom: 25px;
    width: 244px;
    height: 38px;
    background: #FFFFFF;
    color: #210E09;
  }
  &__menu{
    display: grid;
    width: 1076px;
    height: 612px;
    display: flex;
    column-gap: 100px;
    row-gap: 56px;
    margin-bottom: 96px;
  }
  &__dishes{
    display: grid;
    margin: 0px;
    padding: 0;
    flex-wrap: wrap;
    row-gap: 56px;
  }
  &__dishes-mobile{
    display: none;
  }
  &__dish{
    display: flex;
    width: 486px;
    height: 111px;
    list-style-type: none;
    color: #FFFFFF;
  }
  &__description-dish{
      width: 351px;
      height: 111px;
  }
  &__image-dish{
    margin-right: 25px;
  }
  &__description-heading{
    display: flex;
    height: 38px;
  }
  &__title-dish{
    margin: 0;
  }
  &__price-dish{
    width: 84px;
    height: 38px;
    padding: 7px;
    margin-left: auto;
    border: 2px solid #D5621D;
    border-radius: 5px;
    font-family: 'Gotham Pro Bold';
  }
  &__mass-dish{
    margin: 0 0 10px 0;
    text-align: left;
    font-family: 'Stolzl';
    font-size: 14px;
    color: #D5621D;
  }
  &__description-text{
    margin: 0;
    text-align: left;
    font-family: 'Stolzl';
    font-size: 14px;
  }
  &__all-menu-button{
    width: 171px;
    height: 57px;
    color: #FFFFFF;
    background: #D5621D;
    border-radius: 5px;
    margin-top: auto;
    font-family: 'Gotham Pro Bold';
    font-size: 18px;
  }
  &__next-menu-button{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #D5621D;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Gotham Pro Bold';
    top: 507px;
    right: 0px;
  }
  &__previos-menu-button{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #D5621D;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Gotham Pro Bold';
    top: 507px;
    left: 0px;
  }
}

@media (max-width:1199px){
  // 992
  .wrapper-kitchen{
    width: 992px;
    margin-bottom: 100px;
    &__menu{
      width: 850px;
      column-gap: 20px;
    }
    &__dishes-mobile{
      display: none;
    }
    &__dish{
      width: 415px;
    }
    &__description-text{
      font-size: 12px;
    }
  }
}

@media (max-width:991px){
  // 768
  .wrapper-kitchen{
    width: 768px;
    margin-bottom: 50px;
    &__menu{
      width: 670px;
      column-gap: 10px;
    }
    &__dishes-mobile{
      display: none;
    }
    &__dish{
      width: 330px;
    }
    &__title-dish{
      font-size: 14px;
    }
    &__description-text{
      font-size: 10px;
    }
    &__next-menu-button{
      width: 40px;
      height: 40px;
      top: 492px;
    }
    &__previos-menu-button{
      width: 40px;
      height: 40px;
      top: 492px;
    }
  }
}

@media (max-width : 767px) {
  .wrapper-kitchen{
    width: 576px;
    height: 400px;
    margin-bottom: 50px;
    &__heading{
      display: none;
    }
    &__menu{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 576px;
      margin: 0;
    }
    &__image-dish{
      width: 300px;
      height: 300px;
      margin: 0;
    }
    &__dishes{
      display: none;
    }
    &__dishes-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
    }
    &__next-menu-button{
      top: 160px;
    }
    &__previos-menu-button{
      top: 160px;
    }
  }
}

@media (max-width : 575px) {
  .wrapper-kitchen{
    width: 320px;
    height: 400px;
    margin-bottom: 50px;
    &__heading{
      display: none;
    }
    &__menu{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 320px;
      margin: 0;
    }
    &__image-dish{
      width: 200px;
      height: 200px;
      margin: 0;
    }
    &__dishes{
      display: none;
    }
    &__dishes-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
    }
    &__next-menu-button{
      top: 160px;
    }
    &__previos-menu-button{
      top: 160px;
    }
  }
}
